*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home, .apropos, .connexion, .contact, .patient, .professionnel{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home{
  background-image: url('./components/images/2021-162-mh-photo-centre-de-sante-missions-fonctionnement-gi-1221713778-1024x577.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  font-size: 50px;
}

/*connexion*/
